version: '3.9'
services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nadra
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    command: [--default-authentication-plugin=mysql_native_password]
volumes:
  db_data:

